@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Lato:wght@300&family=Lexend+Deca:wght@100;400&family=Roboto+Mono&family=Share&family=Source+Serif+Pro&family=Work+Sans&display=swap');
/*apply general styling below here*/
* {
    margin: 0;
    padding: 0;
    border: none;
}
/*style my body down below*/
body {
    font-family: work-sans, sans-serif;
    color: #f5f5f5;
    background-color: black;
    background-image: url("../images/pexels-ylanite-koppens-697662.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 200;
    left: 2px;
}